@media screen and (max-width: 700px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  .botoes {
    width: 150px;
  }

  .filme-principal .container {
    width: 60%;
  }

  .filme-principal {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background-repeat: no-repeat;
    height: 50%;
  }
}

@media screen and (max-width: 529px) {
  .botoes {
    display: none;
  }
}
